@media (min-width: 1440px) {

    .am-page-products .am-products-list > .am-product {
        width: 23%;
        margin-right: calc((100% - (15% * 6))/6);
    }
    /*.ammerchui-page-products .ammerchui-products-list > .ammerchui-product {
        max-width: 23%;
        margin-right: calc((100% - (15% * 6))/6);
    } */
}